// Only allow read/write if authenticated
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /students/{document=**} {
      allow read, write, update, delete: if true; // Demo purpose only
    }
  }
}
